# Prerequisites
*.d
*.user
Debug
debug
Release
release
*.idea

# Python
*.venv
*pycache*
PyPolyDiM/Export

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# PolyDiM cache
PolyDiM/src/CMakeFiles/
PolyDiM/src/Common/CMakeFiles/
PolyDiM/src/Common/Makefile
PolyDiM/src/Common/cmake_install.cmake
PolyDiM/src/FEM/CMakeFiles/
PolyDiM/src/FEM/MCC/2D/CMakeFiles/
PolyDiM/src/FEM/MCC/2D/Makefile
PolyDiM/src/FEM/MCC/2D/cmake_install.cmake
PolyDiM/src/FEM/MCC/CMakeFiles/
PolyDiM/src/FEM/MCC/Makefile
PolyDiM/src/FEM/MCC/cmake_install.cmake
PolyDiM/src/FEM/Makefile
PolyDiM/src/FEM/PCC/1D/CMakeFiles/
PolyDiM/src/FEM/PCC/1D/Makefile
PolyDiM/src/FEM/PCC/1D/cmake_install.cmake
PolyDiM/src/FEM/PCC/2D/CMakeFiles/
PolyDiM/src/FEM/PCC/2D/Makefile
PolyDiM/src/FEM/PCC/2D/cmake_install.cmake
PolyDiM/src/FEM/PCC/3D/CMakeFiles/
PolyDiM/src/FEM/PCC/3D/Makefile
PolyDiM/src/FEM/PCC/3D/cmake_install.cmake
PolyDiM/src/FEM/PCC/CMakeFiles/
PolyDiM/src/FEM/PCC/Makefile
PolyDiM/src/FEM/PCC/cmake_install.cmake
PolyDiM/src/FEM/cmake_install.cmake
PolyDiM/src/Interpolation/CMakeFiles/
PolyDiM/src/Interpolation/Makefile
PolyDiM/src/Interpolation/cmake_install.cmake
PolyDiM/src/Makefile
PolyDiM/src/PDETools/Assembler/CMakeFiles/
PolyDiM/src/PDETools/Assembler/Makefile
PolyDiM/src/PDETools/Assembler/cmake_install.cmake
PolyDiM/src/PDETools/CMakeFiles/
PolyDiM/src/PDETools/DOFs/CMakeFiles/
PolyDiM/src/PDETools/DOFs/Makefile
PolyDiM/src/PDETools/DOFs/cmake_install.cmake
PolyDiM/src/PDETools/Equations/CMakeFiles/
PolyDiM/src/PDETools/Equations/Makefile
PolyDiM/src/PDETools/Equations/cmake_install.cmake
PolyDiM/src/PDETools/LocalSpace/CMakeFiles/
PolyDiM/src/PDETools/LocalSpace/Makefile
PolyDiM/src/PDETools/LocalSpace/cmake_install.cmake
PolyDiM/src/PDETools/Makefile
PolyDiM/src/PDETools/Mesh/CMakeFiles/
PolyDiM/src/PDETools/Mesh/Makefile
PolyDiM/src/PDETools/Mesh/cmake_install.cmake
PolyDiM/src/PDETools/cmake_install.cmake
PolyDiM/src/Utilities/CMakeFiles/
PolyDiM/src/Utilities/Makefile
PolyDiM/src/Utilities/cmake_install.cmake
PolyDiM/src/VEM/CMakeFiles/
PolyDiM/src/VEM/DF_PCC/2D/CMakeFiles/
PolyDiM/src/VEM/DF_PCC/2D/Makefile
PolyDiM/src/VEM/DF_PCC/2D/cmake_install.cmake
PolyDiM/src/VEM/DF_PCC/3D/CMakeFiles/
PolyDiM/src/VEM/DF_PCC/3D/Makefile
PolyDiM/src/VEM/DF_PCC/3D/cmake_install.cmake
PolyDiM/src/VEM/DF_PCC/CMakeFiles/
PolyDiM/src/VEM/DF_PCC/Makefile
PolyDiM/src/VEM/DF_PCC/cmake_install.cmake
PolyDiM/src/VEM/MCC/2D/CMakeFiles/
PolyDiM/src/VEM/MCC/2D/Makefile
PolyDiM/src/VEM/MCC/2D/cmake_install.cmake
PolyDiM/src/VEM/MCC/3D/CMakeFiles/
PolyDiM/src/VEM/MCC/3D/Makefile
PolyDiM/src/VEM/MCC/3D/cmake_install.cmake
PolyDiM/src/VEM/MCC/CMakeFiles/
PolyDiM/src/VEM/MCC/Makefile
PolyDiM/src/VEM/MCC/cmake_install.cmake
PolyDiM/src/VEM/Makefile
PolyDiM/src/VEM/PCC/2D/CMakeFiles/
PolyDiM/src/VEM/PCC/2D/Makefile
PolyDiM/src/VEM/PCC/2D/cmake_install.cmake
PolyDiM/src/VEM/PCC/3D/CMakeFiles/
PolyDiM/src/VEM/PCC/3D/Makefile
PolyDiM/src/VEM/PCC/3D/cmake_install.cmake
PolyDiM/src/VEM/PCC/CMakeFiles/
PolyDiM/src/VEM/PCC/Makefile
PolyDiM/src/VEM/PCC/cmake_install.cmake
PolyDiM/src/VEM/Quadrature/CMakeFiles/
PolyDiM/src/VEM/Quadrature/Makefile
PolyDiM/src/VEM/Quadrature/cmake_install.cmake
PolyDiM/src/VEM/cmake_install.cmake
PolyDiM/src/ZFEM/CMakeFiles/
PolyDiM/src/ZFEM/Makefile
PolyDiM/src/ZFEM/PCC/2D/CMakeFiles/
PolyDiM/src/ZFEM/PCC/2D/Makefile
PolyDiM/src/ZFEM/PCC/2D/cmake_install.cmake
PolyDiM/src/ZFEM/PCC/CMakeFiles/
PolyDiM/src/ZFEM/PCC/Makefile
PolyDiM/src/ZFEM/PCC/cmake_install.cmake
PolyDiM/src/ZFEM/cmake_install.cmake
PolyDiM/src/cmake_install.cmake
